<h2>Schedule</h2>

{{#if scheduledTime}}

<h3>Your scheduled time is {{scheduledTime}}.</h3>

<p>
  <button {{action "resetSelection"}}>Reset</button>
</p>

{{else}}

<h3>Select a Time</h3>

<ul>
  {{#each times as |time|}}
  <li><button {{action "selectTime" time}}>{{time}}</button></li>
  {{/each}}
</ul>

{{/if}}

{{outlet}}
